name: Build and publish docs
# Test yml for building + publishing docs setup
on:
    workflow_dispatch:
    push:
      branches: 
        - main
        - yml_setup

jobs:
  build-deploy:
    runs-on: windows-latest #ubuntu-latest  macos-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install Python and Dependencies
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: pip install -e .[docs]
      
      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: stable # Or a specific version

      - name: Construct HTML
        run: |
          quartodoc build
          quarto render

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


#      - name: Deploy to gh-pages branch
#        uses: peaceiris/actions-gh-pages@v4 # https://github.com/peaceiris/actions-gh-pages
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: ./_site # The directory containing your built static files (e.g., public, build, dist)
          
#          # Set the destination branch to gh-pages (default)
#          publish_branch: gh-pages



# This assumes that the package has been pushed to PyPi?
# https://github.com/UBC-MDS/imitation_game/actions/runs/21198931035/job/60980497423

#      - name: Build quartodoc pages
#        run: python -m quartodoc build

#      - name: Render and Publish
#        uses: quarto-dev/quarto-actions/publish@v2
#        with:
#          target: gh-pages
#          path: book
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
